:root {
  /* || BREAKPOINTS */

  --desktop-width: 1440px;
  --mobile-width: 375px;

  /* || COLORS */

  /* Primary Colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral Colors */
  --pale-blue2: hsl(229, 81%, 96%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

html {
  box-sizing: border-box;
}

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  /* background-color: var(--pale-blue);
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat; */
  background: var(--pale-blue) url(/images/pattern-background-desktop.svg) top
    no-repeat;
  font-family: "Red Hat Display", sans-serif;
}

main {
  max-width: var(--desktop-width);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 0.5rem;
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 8px auto;
  padding: 1.25rem 1rem;
  text-align: center;
  width: 80%;
}

.btn-primary {
  background-color: var(--bright-blue);
  color: #fff;
  filter: drop-shadow(0 10px 10px rgb(56, 41, 224, 0.5));
}

.btn-secondary {
  color: var(--desaturated-blue);
}

.order-summary {
  max-width: 400px;
  background-color: var(--very-pale-blue);
  border-radius: 16px;
  overflow: hidden;
}

.order-summary__body {
  padding: 36px 48px 8px;
  text-align: center;
}

.order-summary__title {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--dark-blue);
  margin-bottom: 0.5rem;
}

.order-summary__exp {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5em;
  color: var(--desaturated-blue);
}

.order-summary__plan {
  background-color: var(--pale-blue2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem 0;
  padding: 1.5rem 0.5rem;
  border-radius: 1rem;
}

.plan__title {
  font-size: 1.025rem;
  margin-bottom: 0.25rem;
}

.plan__link {
  color: var(--bright-blue);
  font-size: 0.9rem;
  font-weight: 500;
}

.plan__price {
  color: var(--desaturated-blue);
}

.order-summary__footer {
  margin-bottom: 3rem;
}
